.locations {
    display:flex;
    flex-wrap: wrap;
}

.locationImage {
    justify-content: space-between;
    margin: 2rem;
    border: double black;
}

.locationName {
    text-align: center;
}

.locationHeader {
     margin-bottom: 2.5rem;
     margin-left: 1.5rem;
     margin-top: 1.5rem;
}