@import url(tips.css);
@import url(fishes.css);
@import url(locations.css);
@import url(quotes.css);


.pageSummary, .pageHeader {
    text-align: center;

}

.pageContainer {
    display: flex;
}

.flexContainerLeft {
    flex: 3;
}

